.container{

    background-color: rgba(115, 102, 102, 0.452);
    box-sizing: border-box;
    width: 100%;
}
.card{

    widows: 100%;
    box-sizing: border-box;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

}

    .card:hover{
        transition: 0.5ms;
        transform: scale(1.03);
        box-shadow: 0 10px 20px rgba(rgb(196, 65, 65), rgb(38, 209, 38), rgb(59, 59, 182), alpha);

}


ul,a{
list-style-type: square;
text-decoration: none;
color: white;

}

a:hover{
 text-decoration: underline;
   
}
.card-footer{
display: flex;
justify-content: space-around;
  margin-bottom:0.5rem;  
  padding: 4px ;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.card-text{
 color: #02020d;
    margin-top: 2rem;
    font-size: 25px;
    padding: 20px 10px;
   
}